{% load static%}
<div class="footer3 mt-80 md:mt-40 sm:mt-40 bg-white">
  <div class="container pt-5">
    <div class="row">
      <!-- Logo y descripción -->
      <div class="col-lg-3 col-md-6">
        <div class="logo">
          <img
            src="/static/vexon/img/logo/cdnews.png"
            width="150px"
            height="70px"
          />
        </div>
        <div class="heading3 mt-16">
          <p>
            CodeNews es tu fuente confiable para estar al día con lo más
            reciente en programación, desarrollo web y software. Nuestra misión
            es compartir conocimientos, inspirar a programadores y crear una
            comunidad unida por el código.
          </p>
        </div>
      </div>

      <!-- Categorías -->
      <div class="col-lg-3 col-md-6 mb-50 sm:mb-30 sm:mt-30">
        <div class="footer-list3 ml-80 md:ml-0 sm:ml-0">
          <h3>Explora Categorías</h3>
          <ul>
            <li>
              <a href="#">Desarrollo Web</a>
            </li>
            <li>
              <a href="#">Inteligencia Artificial</a>
            </li>
            <li>
              <a href="#">Estrategias de Contenido</a>
            </li>
            <li>
              <a href="#">Redes Sociales</a>
            </li>
            <li>
              <a href="#">SEO y Analítica</a>
            </li>
            <li>
              <a href="#">Diseño y Programación</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Enlaces rápidos -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-list3 ml-50 md:ml-0 sm:ml-0 mb-50 sm:mb-30">
          <h3>Enlaces Rápidos</h3>
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Categorías</a>
            </li>
            <li>
              <a href="#">Autores</a>
            </li>
            <li>
              <a href="#">Política de Privacidad</a>
            </li>
            <li>
              <a href="#">Términos del Servicio</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contacto -->
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact-list3 mb-50 sm:mb-30">
          <h3>Contáctanos</h3>
          <div class="footer-contact-box3">
            <div class="icon">
              <i class="ti ti-mail-filled"></i>
            </div>
            <div class="text">
              <a href="mailto:soporte@codenews.com">codenews@gmail.com</a>
            </div>
          </div>

          <div class="footer-contact-box3">
            <div class="icon">
              <i class="ti ti-phone-filled"></i>
            </div>
            <div class="text">
              <a href="tel:1234567890">123-456-7890</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Derechos -->
    <div class="coppyrihgt3">
      <div class="row coppyrihgt-border">
        <div class="col-lg-12">
          <p class="coppyrihgt">
            © 2025 CodeNews. Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
