{% extends 'base_forms.html' %}
{% load static %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<h2 class="page-title mb-3 gradient-text-title text-center">Restablecer contraseña</h2>

{% include 'partials/messages.html' %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Correo electrónico:</label>
        {{ form.email }}
        <p class="text-muted">Coloca el correo electrónico de la cuenta que deseas restablecer la contraseña</p>
        {% if form.email.errors %}
            <div class="invalid-feedback d-block">
                {{ form.email.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <div class="form-footer">
        <button type="submit" class="btn theme-btn7 text-white w-100">
        Enviar código
        </button>
    </div>
</form>
{% endblock %}

