<h1>Inicio de sesión</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <div>Nombre de usuario</div>
        <div>{{ form.username}}</div>
        {% if form.username.errors %}
            <div>
                {{ form.username.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <div>
        <div>Contraseña</div>
        <div>{{ form.password }}</div>
        {% if form.password.errors %}
            <div>
                {{ form.password.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <button type="submit">Iniciar sesión</button>
</form>

<div >
    <p>O inicia sesión con:</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}">
        <button type="button" >
            Iniciar sesión con Google
        </button>
    </a>
</div>