{% extends 'base_forms.html' %}
{% load static %}
{% block content %}
  <section class="h-screen w-full">
    <body>
      <div class="row g-0 flex-fill">
        <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
          <div class="container container-tight my-5 px-lg-5">
            <div class="text-center mb-4">
              <img src="{% static 'vexon/img/logo/cdnews.png' %}" class="navbar-brand-image" alt="cdnews" style="height: 36px;"></img>
            </div>
            <h2 class="h3 text-center mb-3">Login to your account</h2>
            <form method="post" autocomplete="off" novalidate>
              {% csrf_token %}

              {% if form.non_field_errors %}
                <div class="bg-red-100 text-red-700 p-3 rounded">{{ form.non_field_errors|join:', ' }}</div>
              {% endif %}

              <!-- Username -->
              <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}

                {% if form.username.errors %}
                  <p class="text-danger text-sm mt-1">{{ form.username.errors|join:', ' }}</p>
                {% endif %}
              </div>

              <!-- Password -->
              <div class="mb-3">
                {{ form.password.label_tag }}
                <div class="input-group input-group-flat">
                  {{ form.password }}

                  <span class="input-group-text"><a href="#" class="link-secondary" data-bs-toggle="tooltip" title="Mostrar contraseña"><!-- icono ojo --></a></span>
                </div>

                {% if form.password.errors %}
                  <p class="text-danger text-sm mt-1">{{ form.password.errors|join:', ' }}</p>
                {% endif %}
              </div>

              <!-- Remember me -->
              <div class="mb-2">
                <label class="form-check">
                  <input type="checkbox" class="form-check-input" name="remember_me" />
                  <span class="form-check-label">Recordarme en este dispositivo</span>
                </label>
              </div>

              <!-- Submit -->
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
              </div>
            </form>

            <div class="text-center text-secondary mt-3">
              Don't have account yet? <a href="{% url 'users:register' %}" tabindex="-1">Sign up</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
          <!-- Photo -->
          <div class="bg-cover h-100 min-vh-100" style="background-image: url('{% static 'vexon/img/logo/cdnews.png' %}');"></div>
        </div>
      </div>
    </body>
  </section>
{% endblock %}
