<h1>Cambiar contraseña</h1>

<form method="post">
    {% csrf_token %}
    <div>
        <div>Contraseña actual</div>
        <div>{{ form.old_password }}</div>
        {% if form.old_password.errors %}
            <div>
                {{ form.old_password.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <div>
        <div>Nueva contraseña</div>
        <div>{{ form.new_password1 }}</div>
        {% if form.new_password1.errors %}
            <div>
                {{ form.new_password1.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <div>
        <div>Confirmar nueva contraseña</div>
        <div>{{ form.new_password2 }}</div>
        {% if form.new_password2.errors %}
            <div>
                {{ form.new_password2.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    <button type="submit">Cambiar contraseña</button>
</form>