<h1>Perfil de Usuario</h1>

<div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <!-- Formulario de datos del usuario -->
    <div>
        <h2>Datos Personales</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h2>Avatar</h2>
                {{ form.avatar_image }}
            </div>
            <div>
                <label>Nombre de usuario:</label>
                {{ request.user.username  }}
            </div>
            
            <div>
                <label>Email:</label>
                {{ form.email }}
            </div>
            
            <div>
                <label>Nombre:</label>
                {{ form.first_name }}
            </div>
            
            <div>
                <label>Apellido:</label>
                {{ form.last_name }}
            </div>
            
            <div>
                <label>Teléfono:</label>
                {{ form.phone }}
            </div>
            
            <div>
                <label>Biografía:</label>
                {{ form.bio }}
            </div>
            
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

</div>