.gradient-text-title {
    background: linear-gradient(113deg, #801cfa 5%, #f3213c 20%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}


.gradient-text-2 {
    background: linear-gradient(135deg, #ff5000 0%, #ff00b8 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}
